---
import "./Resume.css";
---

<main id="main-content" class="resume-page" tabindex="-1">
	<section
		class="resume-page__intro"
		aria-labelledby="resume-heading"
	>
		<p class="resume-page__eyebrow">
			Digital Accessibility Specialist
		</p>

		<h1 id="resume-heading" class="resume-page__title">
			Resume
		</h1>

		<p class="resume-page__description">
			My professional experience, accessibility work, education,
			and technical background.
		</p>
	</section>
</main>