---
import { Image } from "astro:assets";

import logo from "../../assets/logos/logo_trans_whitetext.png";
import "./Navbar.css";

type NavigationItem = {
	label: string;
	href: string;
	external?: boolean;
};

const pathname = Astro.url.pathname;

const navigation: NavigationItem[] = [
	{
		label: "Home",
		href: "/",
	},
	{
		label: "Resume",
		href: "/resume",
	},
	// {
	// 	label: "Audits",
	// 	href: "/audits",
	// },
	{
		label: "Projects",
		href: "/projects",
	},
	{
		label: "Blog",
		href: "https://medium.com/@erinmontybruce",
		external: true,
	},
];

const isCurrentPage = (item: NavigationItem) => {
	if (item.external) {
		return false;
	}

	if (item.href === "/") {
		return pathname === "/";
	}

	return pathname.startsWith(item.href);
};
---

<header class="site-header">
	<nav class="navbar" aria-label="Primary navigation">
		<a class="navbar__brand" href="/">
			<Image
				src={logo}
				alt=""
				class="navbar__logo"
				width={96}
			/>

			<span class="navbar__name">
				Erin Van Brunt
			</span>

			<span class="visually-hidden">
				, home
			</span>
		</a>

		<ul class="navbar__links">
			{
				navigation.map((item) => (
					<li class="navbar__item">
						<a
							class="navbar__link"
							href={item.href}
							aria-current={
								isCurrentPage(item)
									? "page"
									: undefined
							}
						>
							<span>{item.label}</span>

							{
								item.external && (
									<span class="visually-hidden">
										{" "}
										on Medium
									</span>
								)
							}
						</a>
					</li>
				))
			}
		</ul>
	</nav>
</header>