---

import Navbar from "./Navbar/Navbar.astro";

---

<div id="container">
	<Navbar />

	<main>
		<section id="about">
			<h1>Hi, I'm Erin Van Brunt.</h1>

			<p>
				I'm a software engineer transitioning into digital accessibility.
				I'm currently building my skills in accessibility testing, WCAG,
				assistive technology, and inclusive web development.
			</p>
		</section>
	</main>
</div>